<!DOCTYPE html>
<html lang="en" xmlns:c="">
<head>
    <meta charset="UTF-8">
    <title>Add New Book</title>
</head>
<body>
<form action="/product/save" method="post">
    <input type="text" name="name" placeholder="Enter product name">
    <input type="number" name="price" placeholder="Enter product price">
    <label for="category_name">Choose a category:</label>
    <select id="category_name" name="category" >
        <option value="bottom"
                th:each ="category: ${categories}"
                th:value="${category.id}"
                th:text="${category.name}">
        </option>

    </select>
    <label for="brand_name">Choose a brand:</label>
    <select id="brand_name" name="brand" >
        <option value="bottom"
                th:each ="brand: ${brands}"
                th:value="${brand.id}"
                th:text="${brand.name}">
        </option>
    </select>


    <button type="submit">Saqlash</button>
</form>
</body>
</html>