<!DOCTYPE html>
<html lang="en" xmlns:c="">
<head>
    <meta charset="UTF-8">
    <title>Edit Page</title>
    <link href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" rel="stylesheet" />
</head>
<body>
<form th:action="@{/product/editSave/{id}(id=${product.id})}" method="post">
    <label>
        <input type="text" name="name" th:value="*{product.name}">
    </label>
    <label>
        <input type="number" name="price" th:value="*{product.price}">
    </label>
    <label for="category_name">Choose a category:</label>
    <select id="category_name" name="category" >
        <option value="bottom"
                th:each ="category: ${categories}"
                th:value="${category.id}"
                th:text="${category.name}">
        </option>

    </select>
    <label for="brand_name">Choose a brand:</label>
    <select id="brand_name" name="brand" >
        <option value="bottom"
                th:each ="brand: ${brands}"
                th:value="${brand.id}"
                th:text="${brand.name}">
        </option>
    </select>
    <!--    <a th:href="@{/book/editSave/{id}(id=${book.id})}">Save</a>-->
    <button type="submit">Save</button>
</form>
<!--<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js" ></script>-->
<!--<script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>-->
<!--<script>$('#invokesToastMessage').click(function () { toastr.success('message', 'title'); });</script>-->
<!--<button id="invokesToastMessage">Show Toast</button>-->

<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>-->

<!--<link rel="stylesheet" type="text/css" href="https://unpkg.com/toastmaker/dist/toastmaker.min.css">-->

<!--<script type="text/javascript" src="https://unpkg.com/toastmaker/dist/toastmaker.min.js"></script>-->

<!--<script>$('#mybutton').click(()=>{ToastMaker("This is a toast notification!")});</script>-->

<!--<button id="mybutton">Show Toast</button>-->


</body>
</html>