<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Show Product Page</title>
</head>
<body>
<h1>Welcome</h1>
<h3><button style="background-color: green"><a href="/product/addProduct" th:color="white"> + Add</a></button></h3>
<div>
    <form action="/product/search" method="post">
        <input type="text" name="search">
        <button type="submit">Search</button>
    </form>
</div>

<div>
    <table border="1">
        <tr>

            <th>Name</th>
            <th>Price</th>

            <th>CategoryName</th>

            <th>BrandName</th>

            <th>Actions</th>

        </tr>

        <tr th:each ="product: ${productList}">

            <td th:utext="${product.name}">...</td>
            <td th:utext="${product.price}">...</td>

            <td th:utext="${product.category.name}">...</td>

            <td th:utext="${product.brand.name}">...</td>

            <td>
                &nbsp;&nbsp;
                <a th:href="@{/remove/{id}(id=${product.id})}"><button>Remove</button></a>
                &nbsp;&nbsp;
                <a th:href="@{/product/edit/{id}(id=${product.id})}"><button>Edit</button></a>
                &nbsp;&nbsp;
            </td>

        </tr>
    </table>
</div>
</body>
</html>